.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
 
}
.modal-container-al{
  
  margin-bottom: 30px;
}
.modal-contenta {
  border: 2px solid black;
  background-color: white;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
 
}

.modal-input {
  width: 100%;
  padding: 3px;
  
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.button-group {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.save-button,
.cancel-button {
  width: 120px;
  height: 40px;
  margin: 0 10px;
}
