@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100%;
    padding: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #888;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ac5d6;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  position: fixed;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.header-title {
  margin: 0;
  font-size: 32px;
  text-align: center;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #888;
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ac5d6;
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    position: fixed;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-title {
    margin: 0;
    font-size: 32px;
    text-align: center;
}
.form-login {
    border-radius: 5px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    padding: 5px;
}

.form-group-send-link {
    padding-top: 50px;
}

.form-group-forgot-password-link {
    position: relative;
    transition: right 0.3s ease;
    color: blue;
    text-align: right;
}

.form-group-forgot-password-link a:hover {
    cursor: pointer;
}

.btn-login {
    margin-top: 30px;
    background-color: #0d6efd;
}

.btn-forgot-pass {
    background-color: #0d6efd;
}

.btn-forgot-pass-cncl {
    background-color: gray;
}

.login-page {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
}

.header-title-company {
    display: inline;
    margin-right: 1rem;
    color: #ffffff;
}
  
.header-link-company {
    color: #ffffff; 
    text-decoration: none;
    border-bottom: none; 
    font-size: x-large;
    padding-left: 3vw;
}

.header-firmalar{
    margin-top: 80px;
    color: #333;
    font-size: 25px;
}